# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store






# Python / env
env/
venv/
*.venv/
**/__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtualenvs in submappen
**/tf-dp-env/
**/.env/
**/.venv/

# Binaries / grote artefacten
*.dylib
*.so
*.whl
*.zip
*.tar
*.tar.gz
*.tgz

# macOS
.DS_Store
